body/*双击或拖动文本不会将其标蓝*/
{
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}
.hidden
{
 	display: none;
}
.btnSubClass, .btnAddClass
{/*干掉按钮边框，按钮底色*/
    border:none;
    background-color:white;
	font-size: 1.2em;
}/*这俩没有本质区别,找时间合并*/
.cross
{
    width: 15px;
    height: 15px;
    margin: auto;
    position: relative;
    margin-left: 32px;
}
.cross::before,
.cross::after
{
    content: "";
    position: absolute;
    height: 18px;
    width: 2px;
    top: 0px;
    right: 8px;
    background: black;
}
.cross::before
{
    transform: rotate(45deg);
}
.cross::after
{
    transform: rotate(-45deg);
}
.add
{
    width: 15px;
    height: 15px;
    margin: auto;
    position: relative;
    margin-left: 10px;
}
.add::before,
.add::after
{
    content: "";
    position: absolute;
    height: 10px;
    width: 2px;
    top: 6px;
    right: 3px;
    background-color: black;
}
.add::before
{
    transform: rotate(0deg);
}
.add::after
{
    transform: rotate(-90deg);
}
.bigAdd
{
    width: 15px;
    height: 15px;
    margin: auto;
    position: relative;
    margin-left: 10px;
}
.bigAdd::before,
.bigAdd::after
{
    content: "";
    position: absolute;
    height: 16px;
    width: 2.5px;
    top: 3px;
    right: 3px;
    background-color: black;
}
.bigAdd::before
{
	transform: rotate(0deg);
}
.bigAdd::after
{
	transform: rotate(-90deg);
}
.sub
{
	width: 15px;
	height: 15px;
	margin: auto;
	position: relative;
	margin-left: 10px;
}
.sub::before,
.sub::after
{
	content: "";
	position: absolute;
	height: 10px;
	width: 2px;
	top: 6px;
	right: 4px;
	background: black;
}
.sub::before
{
	transform: rotate(-90deg);
}
.sub::after
{
	transform: rotate(-90deg);
}/*垃圾CSS,但能用就行*/
.bigSub
{
	width: 15px;
	height: 15px;
	margin: auto;
	position: relative;
	margin-left: 10px;
}
.bigSub::before,
.bigSub::after
{
	content: "";
	position: absolute;
    height: 16px;
    width: 2.5px;
	top: 3px;
	right: 4px;
	background: black;
}
.bigSub::before
{
	transform: rotate(-90deg);
}
.bigSub::after
{
	transform: rotate(-90deg);
}/*垃圾CSS,但能用就行*/
.objectNum
{
	display: flex;
	flex-direction: row;
	float: right;
}
.objectVariation
{
	color: darkgray;
	font-size: 80%;
	margin-top: 2px;
}
.rectangle
{
	position: absolute;
	margin-top: 20px;
	min-width: '1px';
	left:28px;
	/*top: 100%;*/
	background-color: black;
	color: white; /* 字体颜色为白色 */
	display: flex;
	display: inline-block;
	padding: 5px;
	z-index: 999;/*覆盖优先级*/
}
.normalButton
{
	position: relative;
	color:black;
	min-width: 120px;
	height: 35px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px solid black;
	background: none;
	text-align: left;
	font-size: 1.07em;
	display: inline-block;/*保证当按钮内元素增多时 宽度变大*/
	/*white-space: nowrap;*/
}
.columnTitle
{
	position:absolute; 
	top:-12px; font-size: 17px; 
	background: white;
}
.border
{
	position:relative;
	border:2px solid black;
	min-width:220px;
	padding:10px 10px;
	padding-top:8px;
	padding-bottom: 5px;
	margin-bottom:20px;
}
.eventPopup
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 200px;
	border: 1px solid black;
	z-index: 100;
}
.popup
{
	border: 2px solid black;
	background-color: white;
	padding: 20px;
	overflow-wrap: break-word;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
}
.popupConfirmButton
{
	position: absolute;
	border: 1px solid black;
	background-color: white;
	right: 10px;
	bottom: 10px;
}
.newGamePopup
{
	border: 2px solid black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.newGameButton
{
	border: 1px solid black;
	background-color: white;
	font-size: 1.07em;
	width: 120px;
	height: 35px;
}
.allotPanel
{
	position: absolute;
	border: 1px solid black;
	background-color: white;
	font-size: 16px;
	margin-left: 15px;
	padding: 5px;
	z-index: 100;
}
.allotPanelConfirmButton
{
	border: 1px solid black;
	background-color: white;
	padding: 2px;
	float: right;
	margin-top: 5px;
}
.craftBuilding
{
	width: 130px;
	display: flex;
	flex-direction: column;
}
.hideEventButton/*被隐藏的事件栏的btn*/
{
	width: fit-content;/*与innerText相适应*/
	border: 1px solid black;
	background-color: white;
	margin-top: 5px;
	padding: 1px 4px;
}
.eventTitle
{
	position: absolute;
	top: 10px;
	font-size: 22px;
	left: 0;
	right: 0;
	text-align: center;
}
.eventContent
{
	position: absolute;
	top: 70px;
	left: 50px;
	font-size: 17px;
	word-wrap: break-word;
	max-width: calc(100% -100px);/*距离右边界n px时换行,n=-50时达到右边界*/
}
.eventConfirmButton
{
	position: absolute;
	border: 1px solid black;
	background-color: white;
	bottom: 15px;
	right: 15px;
	font-size: 1.3em;
}
.hdBtnContainer
{
	position: absolute;
	top: 15px;
	right: 10px;
	height: 30px;
	width: 30px;
}
.hideButton/*最小化*/
{
	height: 2.5px;
	width: 27px;
	margin-top: 15px;
	background-color: black;
}
.selectiveBtnContainer
{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}
.selectiveEventButton
{
	height: 25px;
	margin-top: 5px;
	border: 1px solid black;
	background-color: white;
	width: 280px;
}
.tradementContainer
{
	position: absolute;
	margin-top: 30px;
	left: 50px;
	right: 0;
}
.tradeEventBtnContainer
{
	position: relative;
	left: 0;
	right: 0;
	margin-bottom: 5px;
}
.tradeEventBtn
{
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	margin-left: 10px;
}